langchain
python-dotenv
ipykernel
langchain_community
pypdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
langchain-huggingface
faiss-cpu
langchain-chroma
langchain-core
langchain-groq
streamlit
arxiv
duckduckgo-search
SQLAlchemy
mysql-connector-python
validators==0.28.1
youtube_transcript_api
unstructured
pytube
youtube-transcript-api 
numexpr 
gradio
langchain_nvidia_ai_endpoints
crewai
crewai_tools